<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List View</title>
</head>
<body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <H1>Hello world!</H1>
    <ul>
        {% for object in object_list %}
            <li><a href="/blog/{{ object.id}}/">{{ object.title }}</a></li>
            <!-- <li><a href='{% url "blog:detail" id=object.id %}'>{{ object.title }}</a></li>
            <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li> -->
        {% endfor %}
    </ul>
</body>
</html>